.active-screen-container{
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
mat-card{
  width: 40%;
}
.flight-progress{
  display: flex;
}
.ICAO, .active-info{
  margin: 7px;
  font-weight: bolder;
}
mat-card-title{
  margin-bottom: 28px;
}
button{
  margin-top: 14px;
}
